html,body{
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

ul{
	list-style-type: none;

}
.btn{
	background-color: inherit;
	border: none;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 1.2em;

}
.red{
	color: red !important;
}
.blue{
	color: blue !important;
}
.be-red{
	background: #000;
}
.white{
	color: #fff;
}

.large-padding{
	padding: 5px 5px;
}

.no-margin{
	margin: 0px;
}
#logo{
	font-size: 1.2em;
}
a,a:visited{
	color: inherit ;
	text-decoration: none;
}
.field, .top-space, .actions  {
	margin-top:  1em;
}
.form-control{
	border: none;
	border-bottom: 1px solid;
	outline: none;
	width: 100%;
	display: block;
	padding: 10px 0px;
	font-size: 1.2em;

}

.text-left{
	text-align: left;
}
